@model KIEMTRAGIUAKY.Models.Course

@{
    ViewData["Title"] = "Thêm mới";
}

<h1>Thêm mới học phần</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label">Tên học phần</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label asp-for="Image" class="control-label">Đường dẫn hình ảnh</label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label asp-for="Credits" class="control-label">Số tín chỉ</label>
                <input asp-for="Credits" class="form-control" />
                <span asp-validation-for="Credits" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label asp-for="Lecturer" class="control-label">Giảng viên</label>
                <input asp-for="Lecturer" class="form-control" />
                <span asp-validation-for="Lecturer" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label asp-for="CategoryId" class="control-label">Danh mục</label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            
            <div class="form-group mt-4">
                <input type="submit" value="Tạo mới" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
